{{define "tsppcTableRow"}}
<tr class="tsppc-row" data-sex="{{.Sex}}" data-trait="{{.Trait}}">
    <td class="weight-range-cell">
        {{if eq .WeightHigh 9999}}
            <span class="input-group-text" style="width: 100%;"><span class="lower-value">{{.WeightLow}}</span>&nbsp;+</span>
        {{else}}
        <div class="input-group">
            <div class="input-group-prepend" >
                <span class="input-group-text" style="width: 4em"><span class="lower-value">{{.WeightLow}}</span>&nbsp;-</span>
            </div>
            <input 
            style="width: 5em;"
            class="form-control" type="number" min="0" value="{{.WeightHigh}}" required>
        </div>
        {{end}}
        
    </td>
    
    <td class="price-cell">
        <div class="input-group" style="width: 8em;">
            <div class=" input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input class="form-control tsppc-val"  type="number" step="0.01" min="0" value="{{.Cost}}" required>
        </div>
    </td>
</tr>
{{end}}


{{define "tsppcTable"}}

<table class="table table-sm table-bordered tsppc-table" >
    <thead class="thead-dark">
        <tr>
            <th colspan="2">{{.Name}}</th>
        </tr>
        
        <tr>
            <th scope="col" style="font-size: small;">Weight Range (lbs)</th>
            <th scope="col" style="font-size: small;">Price/cwt</th>

        </tr>
    </thead>
    <tbody>
        {{range $i,$v := .Values}}
            {{template "tsppcTableRow" $v}}
        {{end}}
        <tr>
            <td class="clickable-cell" colspan="2" style="text-align: center;">+</td>
        </tr>
    </tbody>
</table>


{{end}}


{{if not (eq .SaleEndpoint "slaughtercattle")}}
<div class="btn-group btn-group-toggle toggle-tab" data-toggle="buttons">
    <label class="btn btn-secondary tsppcDisplayToggle active">
        <input type="radio" name="options" autocomplete="off" checked> Values
    </label>
    <label class="btn btn-secondary tsppcDisplayToggle">
        <input type="radio" name="options" autocomplete="off"> Graph
    </label>
</div>
{{end}}




<div class="tsppcDisplay">
    <form id="tsppcForm">

        <div class="alert alert-danger collapse" id="tsppcValidatorAlert" role="alert"></div>


        <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
            <div id="steer-table">
                {{template "tsppcTable" .SteerTraitSexPrice}}
            </div>
            <div id="heifer-table">
                {{template "tsppcTable" .HeiferTraitSexPrice}}
            </div>  
            <div id="cow-table">
                {{template "tsppcTable" .CowTraitSexPrice}}
            </div>
        </div>

    </form>


    {{define "premiums-input"}}
    <div class="input-group">
        <div class=" input-group-prepend">
            <span class="input-group-text">$</span>
        </div>
        <input class="form-control normal-width prem-val" type="number" step="0.01" min="0" value="{{.}}" required>
    </div>
    {{end}}

{{if eq .SaleEndpoint "slaughtercattle"}}
    <h4 class="text-center mt-4">Grid Premiums</h4>

    <p class="help">
        Grid premiums and discounts.
        Quality grades down, yield grades 1-5 across
    </p>


    <!-- Proportion of calves that phenotypically may qualify for a program (e.g., CHB)-->
    <div class="form-group" style="max-width: 60em; margin-left: auto; margin-right: auto;">
        <label>Proportion in Program:</label>
        <input type="number" name="proportionInProgram" class="form-control" min="0" max="1" step="0.01"
            value="{{.ProportionInProgram}}">
        <small class="form-text text-muted">
            Proportion of calves that phenotypically may qualify for a program (e.g., CHB)
        </small>
    </div>


    <table class="table table-sm table-bordered" style="margin-left: auto; margin-right: auto; max-width: 60em;">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">1</th>
                <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
                <th scope="col">5</th>
            </tr>
        </thead>
        <tbody>
            {{range .GridPremiums}}
            <tr class="premiums-row">
                <th style="font-weight: bold;" class="prem-val">{{index . 0}}</th>
                <td>{{template "premiums-input" index . 1}}</td>
                <td>{{template "premiums-input" index . 2}}</td>
                <td>{{template "premiums-input" index . 3}}</td>
                <td>{{template "premiums-input" index . 4}}</td>
                <td>{{template "premiums-input" index . 5}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
{{end}}


</div>

<div class="tsppcDisplay" style="display: none; margin-bottom: 2em;">
    <canvas id="tsppcChart" style="height: 90%; width: 90%;"></canvas>
</div>



<div class="alert alert-danger collapse" id="tsppcServerAlert" role="alert"></div>
<div class="text-center">
    <button class="btn btn-main" id="tsppcNextButton">Save & Next</button>
</div>


<script>

    $('#tsppcForm').validate({
        errorLabelContainer: "#tsppcValidatorAlert",
        errorClass: 'error-border',
    })

    // Validate the page
    $('#tsppcNextButton').on('click', function () {
        if (!$('#tsppcForm').valid())
            return

        let obj = { TraitSexPricePerCwt: [] };

        let traits = getTraits();
        traits.steer.forEach((v) => {obj.TraitSexPricePerCwt.push(`${v.trait},${v.sex},${v.low},${v.high},${v.cost}`)})
        traits.heifer.forEach((v) => {obj.TraitSexPricePerCwt.push(`${v.trait},${v.sex},${v.low},${v.high},${v.cost}`)})
        traits.cow.forEach((v) => {obj.TraitSexPricePerCwt.push(`${v.trait},${v.sex},${v.low},${v.high},${v.cost}`)})

        if (GetRunType() == "slaughtercattle") {
            obj.GridPremiums = [];
            $('.premiums-row').each(function (i, el) {
                let line = "";
                $(el).find('.prem-val').each((valIdx, val) => { v = val.value ? "," + val.value : val.textContent; line += v })
                obj.GridPremiums[i] = line;
            })
            obj.proportionInProgram = $('[name="proportionInProgram"]').val() + "";
        }

        // Save the changes to server
        UpdateCreateValues(obj, '#tsppcNextButton', '#tsppcServerAlert')
    })

    // Toggles the pages between the graphs and values view
    $('.tsppcDisplayToggle').on('click', function () {
        if ($(this).hasClass('active')) return
        updateTsppcChart();
        $('.tsppcDisplay').toggle();
    })


    // Updates the next lower weight value when the previous upper value changes
    $('.tsppc-table').on('change', ".weight-range-cell input", function(){
        let self = $(this);
        let value = parseInt(self.val()) || 0;
        let parent = self.closest('tr');
        let thisLower = parseInt(parent.find('.weight-range-cell .input-group-text .lower-value').text());
        let next = parent.next();
        let nextUpper = parseInt(next.find('.weight-range-cell input').val());

        if (value <= thisLower){
            parent.remove();
            parent.prev().find(".weight-range-cell input").trigger('change');
        }
        if (value >= nextUpper) {
            next.remove();
            self.trigger('change');
        }

        next.find('.weight-range-cell .input-group-text .lower-value').text(value);
    })

    // Adds a new cell to the main tables for Steers, Heifers and Cows
    $('.tsppc-table .clickable-cell').on('click', function(){
        let self = $(this);
        let prev = self.closest('tr').prev();
        prev.before(`{{template "tsppcTableRow" (index .SteerTraitSexPrice.Values 0)}}`);
        
        let top = prev.find('.weight-range-cell .input-group-text .lower-value');
        let value = parseInt(top.text()) + 1;
        top.text(value);

        let newRow = prev.prev();
        newRow.find('.weight-range-cell input').val(value);
        newRow.find('.weight-range-cell .lower-value').text(value - 1);
        newRow.find('.price-cell .tsppc-val').val(0);
        newRow.data("trait", prev.data("trait"))
        newRow.data("sex", prev.data("sex"))
    })




    // Script for the interactive plot
    var tsppcChart = new Chart(document.getElementById('tsppcChart').getContext('2d'),
        {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Steer',
                    borderWidth: 2,
                    pointRadius: 4,
                    pointHitRadius: 25,
                    borderColor: 'rgba(255, 0, 0, 0.6)',
                    fill: false,
                    steppedLine: true,

                },
                {
                    label: 'Heifer',
                    borderWidth: 2,
                    pointRadius: 4,
                    pointHitRadius: 25,
                    borderColor: 'rgba(0, 255, 0, 0.6)',
                    fill: false,
                    steppedLine: true,
                },
                {
                    label: 'Cow',
                    borderWidth: 2,
                    pointRadius: 4,
                    pointHitRadius: 25,
                    borderColor: 'rgba(0, 0, 255, 0.6)',
                    fill: false,
                    steppedLine: true,
                },
                ]
            },

            options: {
                scales: {
                    xAxes: [{
                        type: 'linear',
                        scaleLabel: {
                            display: true,
                            labelString: 'Pounds (lbs)'
                        }
                    }],

                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Cost'
                        },
                        ticks: {
                            reverse: false,
                            min: 0,
                            callback: function (value, index, values) {
                                return '$' + value;
                            }
                        }
                    }]
                },

                dragData: true,
                dragDataRound: 1,

                onDragStart: function (e, el) {
                    if (tsppcChart.data.datasets[el._datasetIndex].data.length - 1 == el._index)
                        return false;
                },
                onDrag: function (e, datasetIndex, index, value) {
                    e.target.style.cursor = 'grabbing';
                    if (tsppcChart.data.datasets[datasetIndex].data.length - 2 == index) {
                        tsppcChart.data.datasets[datasetIndex].data[index + 1].y = value.y;
                    }
                },
                onDragEnd: function (e, datasetIdx, idx, value) {
                    e.target.style.cursor = 'default'
                    const idxID = {
                        0: "#steer-table",
                        1: "#heifer-table",
                        2: "#cow-table",
                    };
                    $(`${idxID[datasetIdx]} .tsppc-val:eq(${idx})`).val(value.y);
                },
                hover: {
                    onHover: function (e) {
                        const point = this.getElementAtEvent(e)
                        if (point.length) e.target.style.cursor = 'grab'
                        else e.target.style.cursor = 'default'
                    }
                }
            }
        });


    // Set the values in the chart when the document is ready
    $(document).ready(updateTsppcChart())

    function updateTsppcChart() {
        var traits = getTraits();

        tsppcChart.data.datasets[0].data = traits.steer.map((v) => {return {x: v.low, y: v.cost}})
        tsppcChart.data.datasets[1].data = traits.heifer.map((v) => {return {x: v.low, y: v.cost}})
        tsppcChart.data.datasets[2].data = traits.cow.map((v) => {return {x: v.low, y: v.cost}})

        let finalSteer = traits.steer[traits.steer.length - 1];
        let finalHeifer = traits.heifer[traits.heifer.length - 1];
        let finalCow = traits.cow[traits.cow.length - 1];
        let upper = "" + (Math.round(Math.max(finalSteer.low, finalHeifer.low, finalCow.low) / 100) * 100 + 100);

        tsppcChart.data.datasets[0].data.push({x: upper, y: finalSteer.cost})
        tsppcChart.data.datasets[1].data.push({x: upper, y: finalHeifer.cost})
        tsppcChart.data.datasets[2].data.push({x: upper, y: finalCow.cost})

        tsppcChart.data.datasets[0].data[0].x = "1"
        tsppcChart.data.datasets[1].data[0].x = "1"
        tsppcChart.data.datasets[2].data[0].x = "1"

        tsppcChart.update();
    }

    // Gets traits in nice objects from the html
    function getTraits() {
        getObj = (id) => {
            let arr = [];
            $(id + ' .tsppc-row').each(function () {
                arr.push({
                    low: $(this).find(".weight-range-cell .lower-value").text(), 
                    high: $(this).find(".weight-range-cell input").val() || 9999, 
                    cost: $(this).find(".price-cell input").val(), 
                    trait: $(this).data("trait"), 
                    sex: $(this).data("sex"),
                 })
            });
            return arr
        }

        return {steer: getObj("#steer-table"), heifer: getObj("#heifer-table"), cow: getObj("#cow-table")}
    }

</script>

<style>
.tsppc-table .weight-range-cell,td{ 
    padding: 0rem;
}
.tsppc-table .price-cell,td{ 
    padding: 0rem;
}

</style>