<!-- Home page for website -->
<!-- <img class="background-image" src="/img/background.jpg"> -->
<div id="homeBody">



<div class="row py-5">

    <div class="col-3"></div>

    <div class="col-6 text-center">

        <div class="white-bkgd">
            <img src="/img/logo.png">
            <p>The iGenDec project is a collaboration with the University of Nebraska, Lincoln, Kansas State University,
                US
                Meat Animal Research Center, Nebraska and Theta Solutions, LLC. It is the result of a three year USDA
                funded
                project to develop a web-based beef cattle selection index tool that seed stock buyers can use to
                evaluate
                alternative purchase opportunities' impact on their marginal net returns. </p>
        </div>


        <div class="card-deck mt-5 home-cards">
            <div class="card" onclick="window.location.href = '/create'">
                <div class="card-body">
                    <h5 class="card-title">Create</h5>
                    <p class="card-text">Input parameters and run an iGenDec simulation to build an index</p>
                </div>

            </div>
            <div class="card" onclick="window.location.href = '/jobs'">
                <div class="card-body">
                    <h5 class="card-title">Jobs</h5>
                    <p class="card-text">View past index construction simulation results</p>
                </div>

            </div>

        </div>
    </div>
</div>

</div>

