<!-- Displays details about a job -->

<!-- Check to see if we have been passed a valid Job to render -->
{{if not .Job}}
<label style="width: 100%; text-align: center; color: red;">Something went wrong! Please try again later or contact
    support</label>
{{else}}

<!-- If valid job  -->
<form>

    <div class="form-row justify-content-between">
        <div class="form-group col-md-4">
            <label>Job Name</label>
            <input type="text" class="form-control" value="{{.Job.Name}}" id="currentJobName" readonly required>
        </div>

        <div class="form-group col-md-4" {{if not .Job.TargetDatabase}}style="display: none;" {{end}}>
            <label>Target Database</label>
            <input type="text" class="form-control" value="{{.Job.TargetDatabase}}" id="targetDatabase" readonly
                required>
        </div>


        <div class="form-group col-md-3">
            <label style="width: 100%;">Status:</label>
            {{if eq .Job.Status "passed"}}
            <span class="badge badge-success">{{.Job.Status}}</span>
            {{else if eq .Job.Status "processing"}}
            <span class="badge badge-info">{{.Job.Status}}</span>
            {{else}}
            <span class="badge badge-warning">{{.Job.Status}}</span>
            {{end}}
        </div>
    </div>

    <label>Comment:</label>

    <pre class="text-area">{{.Job.Comment}}</pre>







    {{if eq .Job.Status "passed"}}

    <div class="page-divider"></div>

    <div class="btn-group btn-group-toggle toggle-tab-inline" data-toggle="buttons">
        <label class="btn btn-secondary outputDisplayToggle active">
            <input type="radio" name="options" autocomplete="off" checked> Values
        </label>
        <label class="btn btn-secondary outputDisplayToggle">
            <input type="radio" name="options" autocomplete="off"> Graph
        </label>
    </div>

    <h4 class=".page-header">Results</h4>

    <div class="outputDisplay">

        <table class="table table-sm" style="margin: auto;">
            <thead class="strong-table-header">
                <tr>
                    <th scope="col"><b>Trait</b></th>
                    <th scope="col"><b>Component</b></th>
                    <th scope="col"><b>Marginal Economic Value</b></th>
                </tr>
            </thead>
            <tbody>

                {{ range .Job.Output }}
                <tr>
                    <td scope="col"><b>{{.Trait.String}}</b></td>
                    <td scope="col"><b>{{.Component.String}}</b></td>
                    <td scope="col"><b>{{.DisplayMEV}}</b></td>
                </tr>
                {{end}}

            </tbody>
        </table>
    </div>
    <div class="outputDisplay" style="display: none;">
        <canvas id="emphasisChart"></canvas>
        {{if .Job.TargetDatabase}}
        <div style="margin: 2em 0;"></div>
        <canvas id="correlationChart"></canvas>
        {{end}}
    </div>




    {{end}}
</form>

<div class="page-divider"></div>
<h4 class="page-header">Actions</h4>

{{if eq .Job.Status "passed"}}


<div class="form-group">
    <label>Bull Selection</label>
    <button style="display: block;" class="btn btn-main form-control normal-width"
        onclick="BullSelection($('#currentJobName').val(), $('#targetDatabase').val());">Select</button>
    <small class="form-text text-muted">
        Allows you to choose from several databases, and run this job's results against that database.
    </small>
</div>

{{end}}


<div class="form-group">
    <label>Download</label>
    <button style="display: block;" class="btn btn-main form-control normal-width"
        onclick="DownloadJob($('#currentJobName').val());">Download Zip</button>
    <small class="form-text text-muted">
        Zip up all of the relevant job files to download. Use this if you need support with a job not running correctly.
    </small>
</div>

<div class="form-group">
    <label>Delete Job</label>
    <button style="display: block;" class="btn btn-danger form-control normal-width"
        onclick="DeleteJob($('#currentJobName').val());">Delete</button>
    <small class="form-text text-muted">
        Delete this job and it's contents. This cannot be undone.
    </small>
</div>

<div class="alert alert-danger collapse" id="jobAlert" role="alert"></div>
<div class="alert alert-success collapse" id="jobSuccessAlert" role="alert"></div>
{{end}}



<script>
    $('.outputDisplayToggle').on('click', function () {
        if ($(this).hasClass('active')) return;
        $('.outputDisplay').toggle();
    })


    var data = JSON.parse({{json .Job}});
    
    var emphasisChart = new Chart(document.getElementById('emphasisChart').getContext('2d'),
            {
                type: 'pie',
                data: {
                    labels: data.indexElement.map((val) => `${val.trait} - ${val.component}`),
                    datasets: [{
                        data: data.indexElement.map((val) => val.emphasis),
                        backgroundColor: data.indexElement.map((v, idx) =>  rainbow(data.indexElement.length, idx, 'A0')),
                        hoverBackgroundColor: data.indexElement.map((v, idx) => rainbow(data.indexElement.length, idx, 'FF')),
                        hoverBorderColor: '#DDDDDD',
                        hoverBorderWidth: 4,
                    },
                    ]
                },
                options: { 
                    title: {
                        display: true,
                        text: 'Emphasis values of the MEV'
                    }
                }
            }
        );

        {{if .Job.TargetDatabase}}


        var correlationChart = new Chart(document.getElementById('correlationChart').getContext('2d'),
            {
                type: 'bar',
                data: {
                    labels: data.indexElement.map((val) => `${val.trait} - ${val.component}`),
                    datasets: [{
                        data: data.indexElement.map((val) => val.correlation),
                        backgroundColor: data.indexElement.map((v, idx) => rainbow(data.indexElement.length, idx, 'A0')),
                        hoverBackgroundColor: data.indexElement.map((v, idx) => rainbow(data.indexElement.length, idx, 'FF')),
                        hoverBorderColor: '#DDDDDD',
                        hoverBorderWidth: 4,
                    },
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Correlation of EPDxMEV with {{.Job.TargetDatabase}} Index'
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                max: 1,
                                min: -1
                            }
                        }]
                    }
                }            
            }
        );

        {{end}}



    function rainbow(numOfSteps, step, opacityHex) {
        // This function generates vibrant, "evenly spaced" colours (i.e. no clustering). This is ideal for creating easily distinguishable vibrant markers in Google Maps and other apps.
        // Adam Cole, 2011-Sept-14
        // HSV to RBG adapted from: http://mjijackson.com/2008/02/rgb-to-hsl-and-rgb-to-hsv-color-model-conversion-algorithms-in-javascript
        var r, g, b;
        var h = step / numOfSteps;
        var i = ~~(h * 6);
        var f = h * 6 - i;
        var q = 1 - f;
        switch (i % 6) {
            case 0: r = 1; g = f; b = 0; break;
            case 1: r = q; g = 1; b = 0; break;
            case 2: r = 0; g = 1; b = f; break;
            case 3: r = 0; g = q; b = 1; break;
            case 4: r = f; g = 0; b = 1; break;
            case 5: r = 1; g = 0; b = q; break;
        }
        var c = "#" + ("00" + (~ ~(r * 255)).toString(16)).slice(-2) + ("00" + (~ ~(g * 255)).toString(16)).slice(-2) + ("00" + (~ ~(b * 255)).toString(16)).slice(-2);
        return (c + opacityHex);
    }


</script>

